{:highlights [{:id #uuid "65492e81-e0a1-4a46-bdb3-5c8f0f6a10d5",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 702.4000244140625,
                                     :x2 373.7710876464844,
                                     :y2 862.7500305175781,
                                     :width 771,
                                     :height 997.7647058823529},
                          :rects ({:x1 0,
                                   :y1 702.4000244140625,
                                   :x2 0,
                                   :y2 721.6000061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 0,
                                   :y1 718.4000244140625,
                                   :x2 0,
                                   :y2 737.6000061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 0,
                                   :y1 734.4000244140625,
                                   :x2 0,
                                   :y2 753.6000061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 0,
                                   :y1 750.4000244140625,
                                   :x2 0,
                                   :y2 769.6000061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 0,
                                   :y1 766.4000244140625,
                                   :x2 0,
                                   :y2 785.6000061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 214.29898071289062,
                                   :y1 778.3500061035156,
                                   :x2 373.76837158203125,
                                   :y2 790.3500061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 70,
                                   :y1 792.8125,
                                   :x2 373.759033203125,
                                   :y2 804.875,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 70,
                                   :y1 807.2875061035156,
                                   :x2 373.759033203125,
                                   :y2 819.3500061035156,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 70,
                                   :y1 821.75,
                                   :x2 373.7681884765625,
                                   :y2 833.8125,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 70,
                                   :y1 836.2125244140625,
                                   :x2 373.7710876464844,
                                   :y2 848.2750244140625,
                                   :width 771,
                                   :height 997.7647058823529}
                                  {:x1 70,
                                   :y1 850.6875,
                                   :x2 373.7614440917969,
                                   :y2 862.7500305175781,
                                   :width 771,
                                   :height 997.7647058823529}),
                          :page 1},
               :content {:text "tion becomes increasingly ﬁerce, and apparently how to win has become a hot topic. In recent years, precision sport science has become a trend. Tactical analysis and scientiﬁc training often determine the outcome of matches [1]. Microscopic data is essential for tactical analysis. The game video retains a lot of detailed contest data and is"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
